@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import 'tailwindcss';

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    background: linear-gradient(
        to bottom right,
        #eeeeee 0%,
        #eeeeee 10%,
        #d4e8ff 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
  
html{
    scroll-behavior: smooth;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 85%;
    margin: 0 auto;
}

.hero-container h1, .hero h2{
    margin-bottom: .25rem;
}

.hero-container .comment{
    color: #008000;
    font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
}

.hero-title{
    margin: left;
}

.hero-description{
    margin-top: 6rem;
}

.scroll-indicator {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeInOut 2.5s ease-in-out infinite;
    opacity: 0.25;
    pointer-events: none;
    z-index: 50;
  }

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.75;
    }
}
  

.comment-line{
    color: #008000;
    font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 1.75rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.comment-block{
    color: #008000;
    font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
    margin-bottom: 2rem;
}

.skills-container{
    margin-bottom: 6rem;
    width: 85%;
    margin: 0 auto;
    position: relative;
}

.skills-key{
    position: absolute;
    top: 0rem;
    right: 0rem;
    text-align: right;
    /* padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.key-box{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    border-radius: 2px;
    transform: translateY(3px);
}

.languages-box{
    background-color: rgb(255, 81, 81);
}

.frameworks-box{
    background-color: rgb(75, 123, 255);
}

.backend-box{
    background-color: rgb(39, 155, 39);
}

.database-box{
    background-color: rgb(218, 191, 106);
}

.skills-title{
    margin-bottom: 1.25rem;
}

.projects-container{
    margin-bottom: 6rem;
}

.projects-title{
    margin-bottom: .75rem;
}

